@font-face{
    font-family:Happy-Times;
    src:url('../happy-times-NG_regular_master.otf')
}

.container{
    font-family: Happy-Times;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: left;
}

.headerContainer{
    display: flex;
    justify-content: left;
    width:100%
}

.formContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    margin-bottom: 20px;

}

.cardContainer{
    display: flex;
    flex-direction:row;
    flex-wrap:inherit;
    justify-content: space-evenly;
    margin-bottom: 20px;
}